<!DOCTYPE html>
<html>
<head>
    <title>Add Players</title>
</head>
<body>
    <h1>Add Players</h1>
    <form method="post" action="{% url 'add_players' %}">
        {% csrf_token %}
        <h2>Player Names</h2>
        {% for i in player_range %}
            <label for="player_{{ i }}">Player {{ i }} Name:</label>
            <input type="text" id="player_{{ i }}" name="player_{{ i }}"><br>
        {% endfor %}
        <button type="submit">Save Player Names</button>
    </form>

    <h2>Players</h2>
    <ul>
        {% for player in players %}
            <li>{{ player.name }} - {{ player.points }} points</li>
        {% endfor %}
    </ul>
</body>
</html>
