body {
    background-color: #ef34d6; /* Same color as navbar background */
}

.landing-page {
    padding: 50px;
    text-align: center;
}

/* Show only the currently active step */
.active {
    display: block;
}